<!-- FOOTER -->
<footer id="footer">
  <div class="footer-inner">
    <!-- KOLON 1: ADRES -->
    <div class="footer-col">
      <h3b>IRMAK YACHTING</h3b>
      <p>
        MARINTURK Göcek Village Port<br />
        Büngüş Koyu Göcek 48310 Fethiye<br />
        Muğla TURKEY
      </p>

      <p>
        Phone :<br />
        +90 (530) 761 1020<br />
        +90 (537) 660 0009<br />
        +90 (555) 453 4936<br /><br />

        Base Manager:<br />
        +90 (555) 453 4936<br /><br />

        E-mail : info@irmakyachting.com<br /><br />

        GPS : 36.75562, 28.933037<br />
        +36° 45' 20.23", +28° 55' 58.93"
      </p>

      <p class="copyright">© 2025 Irmak Yachting. All Rights Reserved.</p>
    </div>

    <!-- KOLON 2: FORM -->
    <div class="footer-col">
      <form>
        <input type="text" name="fullname" placeholder="Full Name*" required />
        <input type="email" name="email" placeholder="E-mail*" required />
        <input type="text" name="phone" placeholder="Phone Number*" required />
        <textarea name="message" placeholder="Message*" required></textarea>

        <label for="captcha">I am not a robot test : 2 + 3 = ?</label>
        <input type="text" id="captcha" name="captcha" required />

        <button type="submit">SUBMIT</button>
      </form>
    </div>
  </div>
</footer>
